<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Authentication Project</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown no-arrow">
          <a href="javascript:;" class="nav-link">
            {{ details?.first_name }}
          </a>
        </li>
        <li *ngIf="auth.isLoggedIn()" class="nav-item dropdown no-arrow">
          <a class="nav-link" routerLink="" (click)="auth.logout()">Logout</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="title-page">PROFILE</h1>
  <table class="table table-striped">
    <tr>
      <td>First Name</td>
      <td>{{ details?.first_name }}</td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>{{ details?.last_name }}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{ details?.email }}</td>
    </tr>
  </table>

</div>