
<!-- <div class="container">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">

      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>
            <form class="user" (submit)="register()">
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" name="first_name"
                    placeholder="Enter your first name" [(ngModel)]="credentials.first_name">
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" name="last_name" placeholder="Enter your last name"
                          [(ngModel)]="credentials.last_name">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="email" required class="form-control form-control-user" name="email" placeholder="Enter email"
                    [(ngModel)]="credentials.email">
                    <p *ngIf="validInputEmail" class="text-danger mt-2 small">Email already exists!</p>
                </div>
                <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" name="password" placeholder="Password"
                    [(ngModel)]="credentials.password">
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-user btn-block">Register Account</button>
              <div>
                <p *ngIf="validInputEmpty" class="text-danger mt-2 small">Please enter all required field!</p>
              </div>
            </form>
            <hr>
            <div class="text-center">
              <a class="small" routerLink="/login">Already have an account? Login!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="main-container signup-page">
    <div class="main-content-wrap">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 registration-slider">
            <div class="right">
              <div class="slider">
                <img src="https://www.upteamist.com/imgs/splash/splash@2x.png" alt="" />
                <h4 class="welcome">Welcome!</h4>
                <h4 class="get-a-real-intranet">Authentication Project</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 registration-login">
            <div class="left left-account">
              <form  (submit)="register()">
                  <div class="form-group">
                      <div class="log-in">Create an account</div>
                      <div class="group-login">
                          <input type="text" class="box-login" name="first_name"
                          placeholder="Enter your first name" [(ngModel)]="credentials.first_name">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="group-login">
                          <input type="text" class="box-login" name="last_name" placeholder="Enter your last name"
                          [(ngModel)]="credentials.last_name">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="group-login">
                          <input type="email" class="box-login" name="email" placeholder="Enter email"
                          [(ngModel)]="credentials.email">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="group-login">
                          <input type="password" class="box-login" name="password" placeholder="Password"
                          [(ngModel)]="credentials.password">
                      </div>
                    </div>
                    <div class="checkbox-signin">
                      <button type="submit" class="box-signin">Sign up</button>               
                      <a routerLink="/login" ng-click="onCreateAccount = false" class=" content-rememberpass member">Already a member?</a>
                    </div>
                    <div class="group-login error">
                      <p *ngIf="validInputEmail" class="word-error">Email already exists!</p>
                      <p *ngIf="validInputEmpty" class="word-error">Please enter all required field!</p>
                    </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>