  //Colors

  //== white
  $white:           #FFFFFF!default;
  $white-two:       #f0f0f0!default;

  //== blue
  $azul:            #186df1 !default;
  $night-blue-5:    rgba(7, 28, 64, 0.05)!default;
  $night-blue:      #071c40!default;

  //== black
  $black:           #000000!default;
  
  //== red
  $lipstick:        #ce1719 !default;
        